/* 让 placeholder 内容居中 */
::placeholder {
  text-align: center; /* 内容居中 */
}

/* 卡片样式 */
.mdui-card {
  margin: 16px auto; /* 上下外边距为 16px，左右自动 */
  max-width: 600px; /* 最大宽度限制 */
  min-width: 100px; /* 最小宽度限制 */
}

/* 页脚样式 */
footer {
  display: flex; /* 使用 flex 布局 */
  justify-content: center; /* 水平方向居中 */
  align-items: center; /* 垂直方向居中 */
  padding: 10px; /* 内边距为 10px */
}

/* 确保输入框和按钮在同一行 */
form {
  display: flex; /* 使用 flex 布局 */
  justify-content: center; /* 使按钮和输入框在水平方向居中 */
  align-items: center; /* 使按钮和输入框在垂直方向居中 */
}

/* 输入框右侧添加间隙 */
.mdui-textfield {
  margin-right: 14px; /* 在输入框和按钮之间添加间隙 */
}

/* 增加按钮的顶部外边距，使按钮向下移动 */
button.mdui-btn.mdui-btn-raised.mdui-ripple.mdui-color-theme-accent {
  margin-top: 6px; /* 增加顶部外边距 */
}

/* 描述文字样式 */
p.mdui-text-center {
  color: #000000; /* 字体颜色 */
}

html {
  scroll-behavior: smooth;
}
